.container {
    width: 1280px;
    margin: 0 auto;
}

.title {
    font-size: 80px;
    display: flex;
    
}

.mda-js{
    color:#4BCAFF;
}

.header-list{
    font-size: 24px;
    background-color:#35444F;
    height: 69px;
    width: 1280px;
    
}

.header-list-ul{
    color: white;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}


.li-item3{
    width: 153px;
    height: 69px;
    border-bottom: none;
    border-top: none;
    border: solid 1px white;
    background-color: #35444F;
    color: white;
    font-size: 24px;
}

.li-item3:hover{
    background-color: #222F3A;
}

.line1{
    display: inline-block;
    position: absolute;
    height: 69px;
    width: 1px;
    left: 250px;
    border: 1px;
    background-color: rgb(255, 255, 255);
}

.line2{
    position: absolute;
    height: 69px;
    width: 1px;
    background-color: rgb(255, 255, 255);
    left: 1100px;
}

.line3{
    position: absolute;
    height: 69px;
    width: 1px;
    background-color: rgb(255, 255, 255);
    left: 1300px;
}

.main{
    display: flex;
}


.main-list{
    display: flex;
    width: 344px;
    height: 399px;
    border: solid 1px #495863;
    align-items: center;
    margin-top: 50px;
    
}

.main-list ul{
    display: flex;
    list-style: none;
    font-size: 27px;
    color: #495863;
    flex-direction: column;
    gap: 30px;
}

.why-ramda{
    position:relative;
    left: -40px;
    width:342px ;
    height: 75px;
    border: none;
    font-size: 27px;
    color: #495863;
}

.img-wrapper{
    display: flex;
    width: 885px;
    height: 529px;
    border: solid 1px black;
}

.img{
    width: 320px;
    height: 381px;

    margin: auto auto;
}

.content{
    display: flex;
    position: absolute;
    top: 550px;
    left: 500px;
    width: 885px;
    height: 832px;
    background-color: rgb(255, 255, 255);
}

.text-wrapper{
    display: flex;
    position: absolute;
    top: 1100px;
    left: 500px;
    width: 885px;
    height: 141px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}

.text-wrapper2{
    display: flex;
    position: absolute;
    top: 1200px;
    left: 500px;
    width: 885px;
    height: 109px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}

.footer{
    position: absolute;
    width: 1280px;
    height: 69px;
    top: 1400px;
    left: 100px;
    background-color: #B4B7B9;
}

.footer-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    gap: 25px;
    margin: 18px 0;
}

.Copyright{
    position:absolute;
    left: 1050px;
    font-size: 28px;
    bottom: -10px
    }